@import "../Constants.scss";

.Navbar {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center !important;
  &--item {
    position: relative;
    margin: 0px 20px;
    color: $text-dark;
    &:hover {
      color: $text-dark;
    }
    &.active {
      &:after {
        content: "";
        height: 3px;
        width: 100%;
        background: $primary;
        margin-bottom: -4px;
        position: absolute;
        left: 0;
        bottom: 0;
      }
    }
  }
}
