$primary: #8280ff;
$gray: #595959;
$light-gray: #b4b4c6;
$red: #ff7285;
$green: #4ad991;
$yellow: #ffca83;
$white: #fff;

$primary-shade: #e8e7ff;
$red-shade: #ff7285;
$yellow-shade: #fff4e5;
$green-shade: #daf7e8;
$gray-shade: #f0f0f7;

$text-dark: $gray;
$text-success: $green;
$text-danger: $red;
$tet-warning: $yellow;
$text-white: $white;

$border-color: $gray-shade;
